@model List<FlowerDelivery.DTO.Entities.Warehouse>
<div class="container">

    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <div class="card mb-3 multi-content own-content">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="card-body">
                            <p class="title">@item.Name</p>
                            <hr>
                            <div>
                                <span class="event-info"> Adress: @item.Adress</span>
                            </div>
                            <div>
                                <span class="event-info"> Country: @item.Country</span>
                            </div>

                            <div class="row">
                                <div class="btn">
                                    <a href="@Url.Action("Edit", "Warehouses", new { id = @item.Id})" class="btn btn-primary">Edit</a>
                                </div>
                                <div class="btn">
                                    <a href="@Url.Action("Info", "Warehouses", new { id = @item.Id })" class="btn btn-success">View</a>
                                </div>
                                <div class="btn">
                                    @using (Html.BeginForm("Delete", "Warehouses", new { id = @item.Id }))
                                    {
                                        <div class="row">
                                            <input type="submit" class="btn btn-danger" data-toggle="modal" value="🗑" data-target="#exampleModal">
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="empty" align="center">
            <p>There is nothing for you :(</p>
        </div>

    }
</div>