@model List<FlowerDelivery.DTO.Entities.Plantation>

<div class="container">

    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <div class="card mb-3 multi-content own-content">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="card-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayName(item.Name)
                                </dt>

                                <dt>
                                    @Html.DisplayName(item.Adress)
                                </dt>
                            </dl>

                            <div class="row">
                                <div class="btn">
                                    <a href="@Url.Action("Edit", "Plantations", new { id = @item.Id})" class="btn btn-primary">Edit</a>
                                </div>
                                <div class="btn">
                                    <a href="@Url.Action("Info", "Plantations", new { id = @item.Id })" class="btn btn-success">View</a>
                                </div>
                                <div class="btn">
                                    @using (Html.BeginForm("Delete", "Plantations", new { id = @item.Id }))
                                    {
                                        <div class="row">
                                            <input type="submit" class="btn btn-danger" data-toggle="modal" value="🗑" data-target="#exampleModal">
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="empty" align="center">
            <p>There is nothing for you :(</p>
        </div>

    }
</div>