@model List<FlowerDelivery.DTO.Entities.Supply>
<div class="container">

    @if (Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <div class="card mb-3 multi-content own-content">
                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="card-body">


                            <div>
                                <span class="event-info">@item.Plantation.Name</span>
                            </div>
                            <div>
                                <span class="event-info">@item.Warehouse.Name</span>
                            </div>
                            <div>
                                <span class="event-info">@item.Status</span>
                            </div>
                            <div>
                                <span class="event-info">@item.ScheduledDate</span>
                            </div>
                            <div>
                                <span class="event-info">@item.ClosedDate</span>
                            </div>                      
                            <div class="row">
                                <div class="btn">
                                    <a href="@Url.Action("Edit", "Supplies", new { id = @item.Id})" class="btn btn-primary">Edit</a>
                                </div>
                                <div class="btn">
                                    <a href="@Url.Action("Info", "Supplies", new { id = @item.Id })" class="btn btn-success">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="btn">
                            @using (Html.BeginForm("Delete", "Flowers", new { id = @item.Id }))
                            {
                                <div class="row">
                                    <input type="submit" class="btn btn-danger" data-toggle="modal" value="🗑" data-target="#exampleModal">
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="empty" align="center">
            <p>There is nothing for you :(</p>
        </div>

    }
</div>