@model FlowerDelivery.DTO.Entities.Supply

@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>

<div>
    <h4>Supply</h4>
    <hr />
    <div class="col-sm-8">
        <dl class="dl-horizontal">
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.ScheduledDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ScheduledDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClosedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClosedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PlantationId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PlantationId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WarehouseId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WarehouseId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { idSupply = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
